# This is a notebook for querying the EMODnet Chemistry instance.

- You can run each cell individually by pressing "shift + enter".
- Please run the first few cells in order for the input widgets to appear.
- For more information, questions, bugs, please contact us on Slack:
  - https://join.slack.com/t/beacontechnic-wwa5548/shared_invite/zt-2n95bd4rk-XMtZ9AVhVapwrFna1J5qmA.

#### In order to get access to the Beacon endpoint, you need to fill in your unique personal token that you should receive via Blue-Cloud between the '' " in the cell below.

In [1]:
Token = ""

#### Importing the required packages.

In [2]:
import requests
import json
import xarray as xr
import datetime
from ipywidgets import interact, widgets, interactive
from IPython.display import Javascript, display
import pandas as pd
import os

#### This retrieves the available parameters from the footprint.

In [16]:
response = requests.get(
    "https://beacon-emod-chem.maris.nl/api/query/available-columns",
    headers={"Authorization": f"Bearer {Token}"},
)
data = response.json()
pd.set_option("display.max_rows", 500)
attributes = pd.DataFrame(data)
params = attributes.to_numpy().flatten()
params

array(['Access restriction', 'Access restriction.comments',
       'Access restriction.long_name', 'Access/ordering of data',
       'Access/ordering of data.comments',
       'Access/ordering of data.long_name', 'Alternative cruise name',
       'Alternative cruise name.comments',
       'Alternative cruise name.long_name', 'Alternative station name',
       'Alternative station name.comments',
       'Alternative station name.long_name', 'Bot. Depth',
       'Bot. Depth.comments', 'Bot. Depth.long_name', 'Bot. Depth.units',
       'Bottle', 'Bottle.comments', 'Bottle.long_name', 'Bottle.units',
       'Bottle_qc', 'C22_flag', 'C22_flag.comments', 'C22_flag.long_name',
       'C22_flag.units', 'C22_flag_qc', 'CDI-partner',
       'CDI-partner.comments', 'CDI-partner.long_name',
       'CDI-record creation date', 'CDI-record creation date.comments',
       'CDI-record creation date.long_name', 'CDI-record id',
       'CDI-record id.comments', 'CDI-record id.long_name',
       'CSR platform code', 'CSR platform code.comments',
       'CSR platform code.long_name', 'CSR platform name',
       'CSR platform name.comments', 'CSR platform name.long_name',
       'CSR references', 'CSR references.comments',
       'CSR references.long_name', 'Category', 'Category.comments',
       'Category.long_name', 'Codes in Originator File',
       'Codes in Originator File.comments',
       'Codes in Originator File.long_name', 'Comments',
       'Comments.comments', 'Comments.long_name', 'Cruise', 'Cruise name',
       'Cruise name.comments', 'Cruise name.long_name',
       'Cruise start date', 'Cruise start date.comments',
       'Cruise start date.long_name', 'Cruise.comments',
       'Cruise.long_name', 'Data Distributor',
       'Data Distributor.comments', 'Data Distributor.long_name',
       'Data Holding centre', 'Data Holding centre.comments',
       'Data Holding centre.long_name', 'Data format',
       'Data format version', 'Data format version.comments',
       'Data format version.long_name', 'Data format.comments',
       'Data format.long_name', 'Data set creation date',
       'Data set creation date.comments',
       'Data set creation date.long_name', 'Data set name',
       'Data set name.comments', 'Data set name.long_name', 'Data size',
       'Data size.comments', 'Data size.long_name', 'Database reference',
       'Database reference.comments', 'Database reference.long_name',
       'Datum', 'Datum.comments', 'Datum.long_name', 'Depth',
       'Depth reference', 'Depth reference.comments',
       'Depth reference.long_name', 'Depth.comments', 'Depth.long_name',
       'Depth.units', 'Depth_qc', 'Discipline', 'Discipline.comments',
       'Discipline.long_name', 'EDMED references',
       'EDMED references.comments', 'EDMED references.long_name',
       'EDMO_code', 'EDMO_code.comments', 'EDMO_code.long_name',
       'End date', 'End date.comments', 'End date.long_name', 'End time',
       'End time.comments', 'End time.long_name', 'FireSeqNo',
       'FireSeqNo.comments', 'FireSeqNo.long_name', 'FireSeqNo.units',
       'FireSeqNo_qc', 'Frequency', 'Frequency unit',
       'Frequency unit.comments', 'Frequency unit.long_name',
       'Frequency.comments', 'Frequency.long_name',
       'ITS-90 water temperature', 'ITS-90 water temperature.comments',
       'ITS-90 water temperature.long_name',
       'ITS-90 water temperature.units', 'ITS-90 water temperature_qc',
       'Instrument / gear type', 'Instrument / gear type.comments',
       'Instrument / gear type.long_name', 'Instrument Info',
       'Instrument Info.comments', 'Instrument Info.long_name',
       'LOCAL_CDI_ID', 'LOCAL_CDI_ID.comments', 'LOCAL_CDI_ID.long_name',
       'Latitude', 'Latitude.comments', 'Latitude.long_name',
       'Latitude.units', 'Longitude', 'Longitude.comments',
       'Longitude.long_name', 'Longitude.units',
       'Maximum instrument depth', 'Maximum instrument depth.comments',
       'Maximum instrument depth.long_name',
       'Maximum instrument depth.units', 'Measuring area type',
       'Measuring area type.comments', 'Measuring area type.long_name',
       'Minimum instrument depth', 'Minimum instrument depth.comments',
       'Minimum instrument depth.long_name',
       'Minimum instrument depth.units', 'Originator',
       'Originator.comments', 'Originator.long_name',
       'P35 Contributor Codes', 'P35 Contributor Codes.comments',
       'P35 Contributor Codes.long_name', 'Platform type',
       'Platform type.comments', 'Platform type.long_name', 'Pressure',
       'Pressure.comments', 'Pressure.long_name', 'Pressure.units',
       'Pressure_qc', 'Project name', 'Project name.comments',
       'Project name.long_name', 'Project type', 'Project type.comments',
       'Project type.long_name', 'Publication references',
       'Publication references.comments',
       'Publication references.long_name', 'Record_No',
       'Record_No.comments', 'Record_No.long_name', 'Record_No.units',
       'Record_No_qc', 'References', 'References.comments',
       'References.long_name', 'RosPos', 'RosPos.comments',
       'RosPos.long_name', 'RosPos.units', 'RosPos_qc', 'SampRef',
       'SampRef.comments', 'SampRef.long_name', 'SampRef.units',
       'SampRef_qc', 'Start date', 'Start date.comments',
       'Start date.long_name', 'Start time', 'Start time.comments',
       'Start time.long_name', 'Station', 'Station name',
       'Station name.comments', 'Station name.long_name',
       'Station start date', 'Station start date.comments',
       'Station start date.long_name', 'Station.comments',
       'Station.long_name', 'Temp_pH_measured_SD',
       'Temp_pH_measured_SD.comments', 'Temp_pH_measured_SD.long_name',
       'Temp_pH_measured_SD.units', 'Temp_pH_measured_SD_qc',
       'Track resolution', 'Track resolution unit',
       'Track resolution unit.comments',
       'Track resolution unit.long_name', 'Track resolution.comments',
       'Track resolution.long_name', 'Type', 'Type.comments',
       'Type.long_name', 'Variables measured',
       'Variables measured.comments', 'Variables measured.long_name',
       'Vertical resolution', 'Vertical resolution unit',
       'Vertical resolution unit.comments',
       'Vertical resolution unit.long_name',
       'Vertical resolution.comments', 'Vertical resolution.long_name',
       'Water body ammonium', 'Water body ammonium.comments',
       'Water body ammonium.long_name', 'Water body ammonium.units',
       'Water body ammonium_qc', 'Water body chlorophyll-a',
       'Water body chlorophyll-a.comments',
       'Water body chlorophyll-a.long_name',
       'Water body chlorophyll-a.units', 'Water body chlorophyll-a_qc',
       'Water body dissolved inorganic carbon',
       'Water body dissolved inorganic carbon.comments',
       'Water body dissolved inorganic carbon.long_name',
       'Water body dissolved inorganic carbon.units',
       'Water body dissolved inorganic carbon_qc',
       'Water body dissolved inorganic nitrogen (DIN)',
       'Water body dissolved inorganic nitrogen (DIN).comments',
       'Water body dissolved inorganic nitrogen (DIN).long_name',
       'Water body dissolved inorganic nitrogen (DIN).units',
       'Water body dissolved inorganic nitrogen (DIN)_qc',
       'Water body dissolved oxygen concentration',
       'Water body dissolved oxygen concentration.comments',
       'Water body dissolved oxygen concentration.long_name',
       'Water body dissolved oxygen concentration.units',
       'Water body dissolved oxygen concentration_qc',
       'Water body dissolved oxygen saturation',
       'Water body dissolved oxygen saturation.comments',
       'Water body dissolved oxygen saturation.long_name',
       'Water body dissolved oxygen saturation.units',
       'Water body dissolved oxygen saturation_qc', 'Water body nitrate',
       'Water body nitrate plus nitrite',
       'Water body nitrate plus nitrite.comments',
       'Water body nitrate plus nitrite.long_name',
       'Water body nitrate plus nitrite.units',
       'Water body nitrate plus nitrite_origin',
       'Water body nitrate plus nitrite_origin.comments',
       'Water body nitrate plus nitrite_origin.long_name',
       'Water body nitrate plus nitrite_origin.units',
       'Water body nitrate plus nitrite_origin_qc',
       'Water body nitrate plus nitrite_qc',
       'Water body nitrate.comments', 'Water body nitrate.long_name',
       'Water body nitrate.units', 'Water body nitrate_qc',
       'Water body nitrite', 'Water body nitrite.comments',
       'Water body nitrite.long_name', 'Water body nitrite.units',
       'Water body nitrite_qc', 'Water body pH', 'Water body pH.comments',
       'Water body pH.long_name', 'Water body pH.units',
       'Water body pH_qc', 'Water body phaeopigments',
       'Water body phaeopigments.comments',
       'Water body phaeopigments.long_name',
       'Water body phaeopigments.units', 'Water body phaeopigments_qc',
       'Water body phosphate', 'Water body phosphate.comments',
       'Water body phosphate.long_name', 'Water body phosphate.units',
       'Water body phosphate_qc', 'Water body salinity',
       'Water body salinity.comments', 'Water body salinity.long_name',
       'Water body salinity.units', 'Water body salinity_qc',
       'Water body silicate', 'Water body silicate.comments',
       'Water body silicate.long_name', 'Water body silicate.units',
       'Water body silicate_qc', 'Water body total alkalinity',
       'Water body total alkalinity.comments',
       'Water body total alkalinity.long_name',
       'Water body total alkalinity.units',
       'Water body total alkalinity_qc', 'Water body total nitrogen',
       'Water body total nitrogen.comments',
       'Water body total nitrogen.long_name',
       'Water body total nitrogen.units', 'Water body total nitrogen_qc',
       'Water body total phosphorus',
       'Water body total phosphorus.comments',
       'Water body total phosphorus.long_name',
       'Water body total phosphorus.units',
       'Water body total phosphorus_qc', 'Water body urea',
       'Water body urea.comments', 'Water body urea.long_name',
       'Water body urea.units', 'Water body urea_qc', 'Water depth',
       'Water depth.comments', 'Water depth.long_name',
       'Water depth.units', 'pHT', 'pHT.comments', 'pHT.long_name',
       'pHT.units', 'pHT_qc', 'ph(total)_SD_water_measured',
       'ph(total)_SD_water_measured.comments',
       'ph(total)_SD_water_measured.long_name',
       'ph(total)_SD_water_measured.units',
       'ph(total)_SD_water_measured_qc'], dtype=object)

#### In the widgets below, you should select your preferred filters and press "Execute all cells" to run the whole notebook.

In [17]:
def f(parameter, minlon, maxlon, minlat, maxlat, mindepth, maxdepth, mintemp, maxtemp):
    return (
        parameter,
        minlon,
        maxlon,
        minlat,
        maxlat,
        mindepth,
        maxdepth,
        mintemp,
        maxtemp,
    )


w = interactive(
    f,
    parameter=params,
    minlon=(-180, 180, 1),
    maxlon=(-180, 180, 1),
    minlat=(-90, 90, 1),
    maxlat=(-90, 90, 1),
    mindepth=widgets.IntSlider(min=0, max=5000, value=0),
    maxdepth=widgets.IntSlider(min=0, max=5000, value=10),
    mintemp=widgets.DatePicker(
        description="Start date:", value=datetime.date(2000, 1, 1)
    ),
    maxtemp=widgets.DatePicker(
        description="End date:", value=datetime.date(2024, 1, 1)
    ),
)

display(w)


def run_all(ev):
    display(
        Javascript(
            "IPython.notebook.execute_cell_range(IPython.notebook.get_selected_index()+1, IPython.notebook.ncells())"
        )
    )


button = widgets.Button(description="Execute all cells")
button.on_click(run_all)
display(button)

interactive(children=(Dropdown(description='parameter', options=('Access restriction', 'Access restriction.com…

Button(description='Execute all cells', style=ButtonStyle())

#### Storing the chosen filters.

In [38]:
parameter = w.kwargs["parameter"]
mintemp = w.kwargs["mintemp"]
maxtemp = w.kwargs["maxtemp"]
minlon = w.kwargs["minlon"]
maxlon = w.kwargs["maxlon"]
minlat = w.kwargs["minlat"]
maxlat = w.kwargs["maxlat"]
mindepth = w.kwargs["mindepth"]
maxdepth = w.kwargs["maxdepth"]

#### The fields below are fixed for the EMODnet Chemistry instance.

In [39]:
dateref = datetime.date(1921, 1, 1)  # Days since 1921
mintemporal = mintemp.strftime("%Y-%m-%dT%H:%M:%S")
maxtemporal = maxtemp.strftime("%Y-%m-%dT%H:%M:%S")
regionname = f"[{minlat},{minlon}],[{maxlat},{maxlon}]"

#### Query body based on your input fields, you can add other "query_parameters" and "filters" to suit your needs.

- For more query examples, you can take a look at https://maris-development.github.io/beacon/available-nodes/blue-cloud-2026/emodnet-chemistry.html.
- In this example, you can see that I added a filter for the parameter, i.e. Temperature measurements should be between -2 and 40 degrees Celsius. Of course, you can change the values based on your parameter, or remove it entirely.

In [40]:
def query(
    parameter,
    mintemporal,
    maxtemporal,
    mindepth,
    maxdepth,
    minlon,
    maxlon,
    minlat,
    maxlat,
):
    body = {
        "query_parameters": [
            {"column_name": parameter, "alias": parameter},
            {"column_name": "yyyy-mm-ddThh:mm:ss.sss", "alias": "TIME"},
            {"column_name": "Depth", "alias": "DEPTH"},
            {"column_name": "Longitude", "alias": "LONGITUDE"},
            {"column_name": "Latitude", "alias": "LATITUDE"},
        ],
        "filters": [
            {
                "for_query_parameter": "TIME",
                "min": mintemporal,
                "max": maxtemporal,
                "cast": "timestamp",
            },
            {"for_query_parameter": "DEPTH", "min": mindepth, "max": maxdepth},
            {"for_query_parameter": "LONGITUDE", "min": minlon, "max": maxlon},
            {"for_query_parameter": "LATITUDE", "min": minlat, "max": maxlat},
            {"for_query_parameter": parameter, "min": -2, "max": 40},
        ],
        "output": {"format": "netcdf"},
    }
    return body


query = query(
    parameter,
    mintemporal,
    maxtemporal,
    mindepth,
    maxdepth,
    minlon,
    maxlon,
    minlat,
    maxlat,
)

#### This is the post request that is sent to Beacon with the above specified body.

In [41]:
response = requests.post(
    "https://beacon-emod-chem.maris.nl/api/query",
    json.dumps(query),
    headers={"Authorization": f"Bearer {Token}",
             "Content-type": "application/json"},
)

if response.status_code == 204:
    print(
        "No data has been found for your query, please update your input fields above and run the notebook again."
    )
elif response.status_code != 200:
    print(response.text)

#### This will create a Netcdf file in your directory with the name based on your filters, the output is shown here in a dataframe.

In [42]:
if not os.path.exists("./DataOutput"):
    os.makedirs("DataOutput")

open(
    f'./DataOutput/EMODNET_CHEM_{parameter}_{regionname}_{mintemp.strftime("%Y-%m-%d")}-{
        maxtemp.strftime("%Y-%m-%d")}_[{mindepth}-{maxdepth}m].nc',
    "wb",
).write(response.content)
df = xr.open_dataset(
    f'./DataOutput/EMODNET_CHEM_{parameter}_{regionname}_{mintemp.strftime(
        "%Y-%m-%d")}-{maxtemp.strftime("%Y-%m-%d")}_[{mindepth}-{maxdepth}m].nc'
).to_dataframe()
df

,ITS-90 water temperature,TIME,DEPTH,LONGITUDE,LATITUDE,dataset_id
INSTANCE,,,,,,
0,10.590,2001-02-24 09:07:00,1.983256,-4.498993,47.750000,23300.0
1,10.590,2001-02-24 09:07:00,2.974876,-4.498993,47.750000,23300.0
2,10.580,2001-02-24 09:07:00,3.966492,-4.498993,47.750000,23300.0
3,10.580,2001-02-24 09:07:00,4.958103,-4.498993,47.750000,23300.0
4,10.580,2001-02-24 09:07:00,5.949709,-4.498993,47.750000,23300.0
...,...,...,...,...,...,...
36406,12.291,2000-05-01 08:11:00,7.933345,-2.803833,47.150333,24076.0
36407,12.299,2000-05-01 08:11:00,8.924992,-2.803833,47.150333,24076.0
36408,12.298,2000-05-01 08:11:00,9.916634,-2.803833,47.150333,24076.0
36409,13.000,2002-02-23 08:50:00,1.000000,-8.893005,40.136002,18898.0
36410,15.260,2001-05-20 01:27:00,0.000000,-1.737671,44.467499,24131.0