# This is a notebook for querying the EMODnet Chemistry instance for the 1.0.0 Beacon release.
* You can run each cell individually by pressing "shift + enter".
* For more information, questions, bugs, please contact us on Slack:
    + https://join.slack.com/t/beacontechnic-wwa5548/shared_invite/zt-2dp1vv56r-tj_KFac0sAKNuAgUKPPDRg.

#### In order to get access to the Beacon endpoint, you need to fill in your unique personal token between the " " in the cell below.

In [14]:
Token = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczpcL1wvZGF0YS5ibHVlLWNsb3VkLm9yZyIsImF1ZCI6Imh0dHBzOlwvXC9kYXRhLmJsdWUtY2xvdWQub3JnIiwiaWF0IjoxNzIwNzc4NTIyLCJleHAiOjE3NTIzMTQ1MjIsInVzciI6MTI0LCJpZCI6InJvYmluQG1hcmlzLm5sIiwiZXBfb3JnYW5pc2F0aW9uIjoiTUFSSVMifQ.aPx1DW1Q5BTm5aKCNiqXnTETDEXF5uHXDvFKGdy2g0U"

#### Install the following packages, if you have not already installed them in your environment:
* pip install requests
* pip install xarray
* pip install ipywidgets
* pip install cartopy
* pip install h5netcdf
* pip install netcdf4
* pip install scipy
* pip install packaging

#### Import the required packages

In [15]:
import requests
import json
import xarray as xr
import datetime
import pandas as pd
import os
import cartopy.crs as ccrs
import cartopy.feature as cfeature
import matplotlib.pyplot as plt

#### Retrieve the available columns from the EMODnet Chemistry endpoint
Swagger page here: https://beacon-emod-chem.maris.nl/swagger/

In [16]:
responseinfo = requests.get("https://beacon-emod-chem.maris.nl/api/query/available-columns", headers = {"Authorization" : f"Bearer {Token}"}) 
params = responseinfo.json()

#### Below you can search through the available columns by entering text between the brackets of search_columns(" ").

In [17]:
def search_columns(search_term):
    search_term = search_term.lower()
    matches = [col for col in params if search_term in col.lower()]
    
    if matches:
        print("Matching columns:")
        for match in matches:
            print(match)
    else:
        print("No matching columns found.")

search_columns("temp") #Enter your search term here

Matching columns:
ITS-90 water temperature
ITS-90 water temperature.comments
ITS-90 water temperature.long_name
ITS-90 water temperature.units
ITS-90 water temperature_qc
Temp_pH_measured_SD
Temp_pH_measured_SD.comments
Temp_pH_measured_SD.long_name
Temp_pH_measured_SD.units
Temp_pH_measured_SD_qc

#### You can define here your input parameters

In [18]:
parameter = "ITS-90 water temperature" #column name 
mindate = "2010-01-01" #yyyy-mm-dd
maxdate = "2020-01-01" #yyyy-mm-dd
minlon = -180
maxlon = 180
minlat = -90
maxlat = 90
mindepth = 0
maxdepth = 10

#### This will create the query body based on your input parameters, you can add other "query_parameters" and "filters" to suit your needs. 
* For more query examples and explanations, you can take a look at https://maris-development.github.io/beacon/.

In [19]:
def query(parameter, mindate, maxdate, minlon, maxlon, minlat, maxlat, mindepth, maxdepth):
    body = {
        "query_parameters": [
            {
                "column_name": parameter,
                "alias": parameter,
                "skip_fill_values": True
            },
            {
                "column_name": f"{parameter}.units",
                "alias": "Unit"
            },
            {
                "column_name": "yyyy-mm-ddThh:mm:ss.sss",
                "alias": "datetime"
            },
            {
                "column_name": "Depth",
                "alias": "DEPTH"
            },
            {
                "column_name": "Longitude",
                "alias": "LONGITUDE"
            },
            {
                "column_name": "Latitude",
                "alias": "LATITUDE"
            }
        ],
        "filters": [
            {
                "for_query_parameter": "datetime",
                "min": f"{mindate}T00:00:00",
                "max": f"{maxdate}T00:00:00",
                "cast": "timestamp"
            },
            {
              "for_query_parameter": "DEPTH",
              "min": mindepth,
              "max": maxdepth
            },
            {
              "for_query_parameter": "LONGITUDE",
              "min": minlon,
              "max": maxlon
            },
            {
              "for_query_parameter": "LATITUDE",
              "min": minlat,
              "max": maxlat
            }
        ],
        "output": {
            "format": "netcdf"
        }}
    return body

query_body = query(parameter, mindate, maxdate, minlon, maxlon, minlat, maxlat, mindepth, maxdepth)

#### This is the post request that is sent to Beacon with the above specified body.

In [20]:
response = requests.post("https://beacon-emod-chem.maris.nl/api/query", json.dumps(query_body), headers = {
    "Authorization" : f"Bearer {Token}",
    "Content-type": "application/json"
})

if response.status_code == 204:
    print("No data has been found for your query, please update your input fields above and run the notebook again.")
elif response.status_code != 200:
    print(response.text)

In [21]:
regionname = f"[{minlat},{minlon}],[{maxlat},{maxlon}]" 

if not os.path.exists("./Beacon_V1.0.0_Output"):
    os.makedirs("Beacon_V1.0.0_Output")

open(f"./Beacon_V1.0.0_Output/EMODnetChem_{parameter}_{regionname}_{mindate}-{maxdate}_[{mindepth}-{maxdepth}m].nc", "wb").write(response.content)
df = xr.open_dataset(f"./Beacon_V1.0.0_Output/EMODnetChem_{parameter}_{regionname}_{mindate}-{maxdate}_[{mindepth}-{maxdepth}m].nc").to_dataframe()
df = df.assign(datetime=pd.to_datetime(df["datetime"])).set_index("datetime").sort_index()
df

,ITS-90 water temperature,Unit,DEPTH,LONGITUDE,LATITUDE,dataset_id
datetime,,,,,,
2010-02-04 22:38:15,20.150,degrees C,7.946042,-15.334808,28.996500,23019.0
2010-02-04 22:38:15,20.152,degrees C,8.939276,-15.334808,28.996500,23019.0
2010-02-04 22:38:15,20.163,degrees C,9.932504,-15.334808,28.996500,23019.0
2010-02-05 00:52:14,23.403,degrees C,8.942248,-35.084991,24.506201,17488.0
2010-02-05 03:17:16,20.118,degrees C,3.973060,-15.342010,28.993700,23023.0
...,...,...,...,...,...,...
2019-12-31 06:18:29,11.789,degrees C,5.057272,-13.617950,47.732620,29421.0
2019-12-31 06:18:29,11.789,degrees C,6.048880,-13.617950,47.732620,29421.0
2019-12-31 06:18:29,11.788,degrees C,6.842162,-13.617950,47.732620,29421.0
2019-12-31 06:18:29,11.788,degrees C,8.032081,-13.617950,47.732620,29421.0
2019-12-31 06:18:29,11.790,degrees C,8.924514,-13.617950,47.732620,29421.0

#### Optionally apply a filter on your parameter for quick removal of outliers. Note that this can also be achieved within your Beacon request by applying a filter on your parameter.

In [22]:
highbound = 40
lowbound = -2
df = df.loc[(df[f"{parameter}"] < highbound) & (df[f"{parameter}"] > lowbound)]
df

,ITS-90 water temperature,Unit,DEPTH,LONGITUDE,LATITUDE,dataset_id
datetime,,,,,,
2010-02-04 22:38:15,20.150,degrees C,7.946042,-15.334808,28.996500,23019.0
2010-02-04 22:38:15,20.152,degrees C,8.939276,-15.334808,28.996500,23019.0
2010-02-04 22:38:15,20.163,degrees C,9.932504,-15.334808,28.996500,23019.0
2010-02-05 00:52:14,23.403,degrees C,8.942248,-35.084991,24.506201,17488.0
2010-02-05 03:17:16,20.118,degrees C,3.973060,-15.342010,28.993700,23023.0
...,...,...,...,...,...,...
2019-12-31 06:18:29,11.789,degrees C,5.057272,-13.617950,47.732620,29421.0
2019-12-31 06:18:29,11.789,degrees C,6.048880,-13.617950,47.732620,29421.0
2019-12-31 06:18:29,11.788,degrees C,6.842162,-13.617950,47.732620,29421.0
2019-12-31 06:18:29,11.788,degrees C,8.032081,-13.617950,47.732620,29421.0
2019-12-31 06:18:29,11.790,degrees C,8.924514,-13.617950,47.732620,29421.0

#### Plotting of results

In [ ]:
fig = plt.figure(figsize=(23, 18))
ax = plt.axes(projection=ccrs.PlateCarree())

ax.set_extent([-45, 0, 20, 50], crs=ccrs.PlateCarree())  # (west, east, south, north)

ax.coastlines(resolution="10m")
ax.gridlines(draw_labels=True)

sc = ax.scatter(df["LONGITUDE"], df["LATITUDE"], c=df[parameter], cmap="viridis", s=15, transform=ccrs.PlateCarree())

ax.add_feature(cfeature.LAND)
ax.add_feature(cfeature.OCEAN)
ax.add_feature(cfeature.RIVERS)     
ax.add_feature(cfeature.BORDERS)   
ax.add_feature(cfeature.LAKES, alpha=0.1) 

cbar = plt.colorbar(sc, ax=ax, orientation="vertical", shrink=0.6, label="Value Set 1")
cbar.set_label(f"{parameter} [{df["Unit"].iloc[0]}]")

plt.title(f"{parameter} {regionname} {mindate}-{maxdate} [{mindepth}-{maxdepth}m]")

plt.show()

SyntaxError: f-string: unmatched '[' (2088911793.py, line 18)

: